<div class="clearfix"></div>
<div class="inner-page-title">
    <div class="banner-text">
        <div class="banner-title">
            <h1>{{pagedetails[0]?.ContentTitle}}</h1>
        </div>
    </div>
    <div class="overlay"></div>
    <img src="assets/UploadsAll/Pages/52c201b0-d5ca-4368-82f3-e6fefbf68674.jpg" alt="">
</div>
<div class="clearfix"></div>
<div class="inner-main inner-pages" data-wow-delay=".4s">
    <section class="wow flipInX">
        <div class="container">
            <div class="exam-page">
                <div class="row">
                    


                    <div class="col-sm-12">
                        <div class="left-title wow fadeInLeft">
                            <h2>{{pagedetails[0]?.ContentTitle}}</h2>
                            <span class="underline-b"><span>&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
                        </div>

                        
                        <div>
                            <br>
                            <div>&nbsp;</div>
                            
                            <div class="contents"  [innerHTML]='pagedetails[0]?.Content | safeHtml'>

                            </div>

                        </div>


                       

                     
                        
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div *ngIf="hasContentMore(pagedetails[0]?.Content_more.length)">
    <section class="wow flipInX" *ngFor="let contentmore of pagedetails[0]?.Content_more; last as isLast">
           
        <div class="container">

            <div [ngClass]="{'exam-page-down':isLast}">   
            <div class="adults">
                <div class="row">
                   
                            <div class="col-sm-12">
                                
                               
                                
                                <div [ngClass]="{'white-box-left': contentmore.InfoBoxed === '1'}" >

                                    <div class="left-title">
                                        <h2>{{contentmore?.InfoTitle}}</h2>
                                        <span class="underline-b"><span>&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
                                    </div>

                                    <div class="contents  mt-20"  [innerHTML]='contentmore?.InfoMessage | safeHtml'>

                                </div>
                                  
                                    
                                </div>

                            </div>
                       
                    </div>
             
            </div>
            </div>

        </div>
       
    </section>
</div>


<section class="wow flipInX contact-form" *ngIf="isContactpage(pagedetails[0]?.isContactpage)">
    <div class="container">
        <div class="left-title wow fadeInLeft">
            <h2>General Information</h2>
            <span class="underline-b"><span>&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
        </div>
        <p class="mt-20">
            LEAVE US A MESSAGE</p>

        <div class="form-section">
            <form #contactForm="ngForm" (ngSubmit)="contactSubmit()">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-row">
                        <label>Your Name</label>
                        <input #name="ngModel" required type="text" maxlength="500" [class.is-invalid]="name.invalid && name.touched"  class="form-control" placeholder="Enter Your Name" name="name" autocomplete="off" [(ngModel)]="Contactform.name"/>                                
                        <small class="text-danger" [class.d-none]="name.valid||name.untouched">Name is required</small>
                    </div>

                    <div class="form-row">
                        <label>Your Email</label>
                            <input #email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" type="email" maxlength="255" [class.is-invalid]="email.invalid && email.touched"  class="form-control" placeholder="Enter Your Email" name="email" [(ngModel)]="Contactform.email" />
                            <div *ngIf="email.errors && (email.invalid || email.touched)">
                                <small class="text-danger" *ngIf="email.touched && email.errors.required">Email is required</small>
                                <small class="text-danger" *ngIf="email.errors.pattern">Enter a valid email</small>
                            </div>
                        </div>
                    <div class="form-row">
                        <label>Your Phone Number</label>
                        <input #phone="ngModel" required type="tel" pattern="^\d{8}$"  class="form-control" [class.is-invalid]="phone.invalid && phone.touched" placeholder="Enter Your Contact Number" name="phone" [(ngModel)]="Contactform.phone"/>
                        <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
                            <small class="text-danger" *ngIf="phone.invalid && phone.touched && phone.errors.required">phone number is required</small>
                            <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be 8 digit</small>
                        </div>
                        
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="form-row">
                        <label>Your Message</label>
                        <textarea #message="ngModel" required rows="2" cols="20" [class.is-invalid]="message.invalid && message.touched"  class="form-control" placeholder="Enter Your Message" name="message" [(ngModel)]="Contactform.message">
                    </textarea>
                    <small class="text-danger" [class.d-none]="message.valid||message.untouched">Message is required</small>
                    </div>
                     <!-- <div class="form-row">
                        <label>Security Code</label>
                        <input name="ctl00$ContentPlaceHolder1$SecurityCodeLoginTextBox" type="text" id="ContentPlaceHolder1_SecurityCodeLoginTextBox" class="form-control securitytxt" autocomplete="off" style="width:120px;" />
                        <span class="wpcf7-form-control-wrap your-message">
                            <img id="ContentPlaceHolder1_ImgCaptcha" class="securityimg" src="captcha.jpg" />
                            <span id="ContentPlaceHolder1_ctl00" style="color:Red;display:none;">Required Field</span>
                        </span>
                    </div> -->
                     <div class="form-row">
                        <div class="form-btn">
                            <input [disabled]="contactForm.form.invalid" type="submit" name="" value="Submit"  class="btn btn-primary blue-btn" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div> 


    </div>


</section> 



